window {
	background-color: transparent;
}

.power {
	font-family: Phosphor-Bold;
	font-size: 18px;
	color: #c53b53;
}

.weather-icon {
	font-family: "Weather Icons";
	font-size: 15px;
	color: #ff9e64;
	background-color: transparent;
}
.bar {
	font-family: "Quicksand Medium";
}

.box {
	border-width: 1px;
	margin: 2px 6px;
	padding: 1px 10px;
	border-style: solid;
	border-radius: 14px;
	background-color: #24283b
}

button {
	all: unset;
	background-color: transparent;
	border-width: 0px;
	border-radius: 0px;
	margin: 0px;
}
.clock {
	font-family: "JetBrainsMono NF";
	color: #82aaff;
}

button:hover {
	background-color: #4c566a;
	border-radius: 10px;
	transition-duration: 0.5s;
}
button {
	padding: 3px 5px;
	margin: 2px -5px;
	color: #a9b1d6;
	transition-duration: 0.5s
}
.bat {
	margin-left: -10px;
}
.wallpaper {
	font-family: Phosphor-Fill;
	font-size: 20px;
	padding: 1px 0 0 0;
	margin: 0 -3px;
	color: #3d5ea1;
	background-color: transparent;
}
.volume {
	font-family: Phosphor-Bold;
	font-size: 16px;
	transition-duration: 0.5s
}
.volume:hover {
	transition-duration: 0.5s
}
.player {
	border-color: #c099ff;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	padding: 10px;
	background-color: #222436;
}
.image {
	padding-bottom: 20px;
	font-family: "Quicksand Medium";
}
.musicbar {
	padding: 0px;
	margin: 0px;
	font-family: "JetBrainsMono NF";
}
.number {
	background-color: #1b1d2b;
	border-radius: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0px 5px;
}
.player button {
	font-size: 20px;
	background-color: transparent
}

scale > contents > trough > highlight {
	all: unset;
	background-color: #c099ff;
}

scale > contents > trough > slider {
	background-color: transparent;
	box-shadow: unset;
}
.player button:hover {
	border-color: currentColor;
	box-shadow: 2px 2px;
	transition-duration: 0.4s
}
.player button {
	border-radius: 8px 0px 8px 0px;
	border-width: 2px;
	margin: 2px;
	border-style: solid;
	border-color: transparent;
	padding: 5px;
	transition-duration: 0.2s;
}
.powerpop {
	border-color: #c099ff;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	padding: 10px;
	background-color: #24283b;
	font-size: 16px;
	transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.power_txt {
	font-family: "Quicksand Medium";
}
.icon {
	font-family: "Phosphor-Bold";
	font-size: 16px
}

.cal_out {
	border: 2px solid #bb9af7;
	border-radius: 15px;
	padding: 5px;
	background-color: #24283b
}
calendar {
	border-style: none
}
calendar:selected {
	background-color: transparent;
	color: #0db9d7
}
calendar.highlight {
	color: #ff9e64;
	font-weight: bold
}
