// Written from scratch by likalium :)

@import "~/.config/rofi/themes/nord_colors.rasi"

* {
	background-color: rgb(94, 129, 172, 0.647);
	tranparency: "real";
}

num-rows, num-filted-rows, textbox-current-entry, icon-current-entry, scrollbar, inputbar, listview, mode-switcher {
    enabled: false;
}

window {
	enabled: true;
	fullscreen: true;
	location: center;
	anchor: center;
	font: "JetBrains Mono 20";
	children: [ message; shutdown-button
